body{
background-color: #e0f3ff;
}
label{
font-weight: bold;
}
.margin-top-3{
margin-top:3%;
}
.margin-top-5{
margin-top:5%;
}
.margin-5{
margin:5%;
}
.div-error{
color:red; 
background-color:#fcffcf; 
border:3px solid red; 
border-radius: 5px;
}
.font-bold{
font-weight:bold;
}
.form-control{
border: 2px solid black;
}